#parse("widget/include/global.vm")
<!DOCTYPE HTML>
<html>
<head>
    #parse("page/product/edit_prd/basic_info/common/meta.vm")
    <script>

        //强制透明行程
        var pass = $isPass;
        var checkInfo = '$!checkInfo';

        //半自助游
        var ext_function = '$!ext_function';

        if(typeof QNR=="undefined"){
            var QNR={};
        }
        #if(${productType})
        QNR.product = {
            type: "$!{productType}"
        }
        #end        
        #if(${updhost}) QNR.updhost = "$!{updhost}";  #end ## 
        #if(${time_stamp}) var time_stamp = $!{time_stamp}; #end
        var update = #if(${update}) $!{update}; #else false; #end
        #if(${update})
        var valueAddUrl = "$!{urlInfo.additional}";
        #end
        #if(${isSaved}) var isSaved = $!{isSaved}; #end
        var copySuccess = #if($!{cp} == "t") true #else false #end;
        var confirmFast2Tuan = "$!{confirmFast2Tuan}";
        #if(${isSuper}) var isSuper = $!{isSuper}; #end
        #if(${isSale}) var isSale = window.isSale = $!{isSale}; #end
        var prdId = "$!{id}";
        var ret = "$!{ret}";
        ## 是否可以切到普通跟团游，如果最小起订人数不符合要求（不能大于3），这个字段等于false
        QNR.canSwitchToNormalGroup = $!{canSwitchToNormalGroup};
        ## 配置的的每单最小可预订人数
        QNR.minBuyCount = $!{minBuyCount} || -1;
        QNR.video = $!{video};
    </script>
</head>
<body>
#set($index="")
#set($event="")
#set($remove="")
#set($width="")
#set($outer="")
    <div class="flow_steps">
        <div class="tab_nav product_manage">
            <ul class='num6'>
                <li><a class="on"><span>#qMessage("基本信息")</span></a></li>
				#if(${update})
                <li><a href="$!{urlInfo.tripInfo}"><span>#qMessage('参考行程')</span></a></li>
                <li><a href="$!{urlInfo.teamInfo}"><span>#qMessage('价格/库存')</span></a></li>
                <li><a href="$!{urlInfo.additional}"><span>#qMessage('增值服务')</span></a></li>
                <li><a href="$!{urlInfo.otherInfo}"><span>#qMessage('其他信息')</span></a></li>
                <li><a href="$!{urlInfo.productGrade}"><span>#qMessage('产品等级')</span></a></li>
				#else
				<li><a href="javascript:void(0);"><span>#qMessage('参考行程')</span></a></li>
                <li><a href="javascript:void(0);"><span>#qMessage('价格/库存')</span></a></li>
                <li><a href="javascript:void(0);"><span>#qMessage('增值服务')</span></a></li>
                <li><a href="javascript:void(0);"><span>#qMessage('其他信息')</span></a></li>
                <li><a href="javascript:void(0);"><span>#qMessage('产品等级')</span></a></li>
				#end
            </ul>
        </div>
    </div>
    #if(${update})
        #parse("page/product/edit_prd/basic_info/common/check_log.vm")
    #end
	#parse("page/product/edit_prd/basic_info/common/check_is_hot.vm")
    <div id="groupTravel_content" class="productType_content" >
        <form name="form2" id="frm" action="/$!{rprefix}/product.do" method="post">
            <input type="hidden" name="next" id="group_next" value="false" />
            <input type="hidden" name="p_function" id="pType" value="group"/>
            <input type="hidden" name="method" id="method" value="$!{method}"/>
            <input type="hidden" name="supperid" value="$!{supplierId}"/>
            <input type="hidden" name="id" value="$!{id} "/>
            <input type="hidden" name="ret" value="$!{ret}"/>
            <input type="hidden" name="newFlag" value="$!{newFlag}"/>
            <input type="hidden" name="arrive" id="hideArrive_1" value="$!{arrive}" />
            <input type="hidden" name="group_departure" id="hideGroupDeparture_2" value="$!{departure}" />
            <input type="hidden" id="images" name="images" value='$!{images}'/>
            <input type="hidden" id="b2bFlag" name="b2bFlag" value="#if(${update})$!{b2bFlag}#end"/>
            <input type="hidden" name="ext_function" id="ext_function" value="$!{ext_function}"/>

            #if(${ext_function}==1 || ${ext_function}==0)
            <div class="sub_function_type_box" id="sub_function_type">

                <div class="function_type_tips">
                      <ul>
                        <li><strong>#qMessage('注意：')</strong></li>
                        <li>#qMessage('1.系统默认认为“普通半自助/跟团游”，如果您的产品支持每一个订单单独成团的话请勾选“私家团”')</li>
                        <li>#qMessage('2.如果勾选“私家团”必须支持每笔订单单独成团，系统也会标记［一单一团］的标签；如果有消费者投诉违反约定，将按<a target="_blank" href="/static/product/serviceStandard.html">私家团规范管理办法进行</a>处理')</li>
                      </ul>
                </div>

                <div class="sub_function_radio_box">
                    <span class="ck_label">产品子类：</span>
                    <span>
                        <input type="radio" name="sub_function" id="sub_function_1" value="$!{ext_function}" class="ck_select normal" #if(${sub_function} == 1 || ${sub_function} == 0) checked='checked' #end  >

                        #if(${ext_function}==1)
                            <label class="ck_label" for="sub_function_1">普通半自助</label>
                        #else
                            <label class="ck_label" for="sub_function_1">普通跟团游</label>
                        #end
                        <input type="radio" name="sub_function" id="sub_function_2" value="2" class="ck_select private" #if(${update} && ${sub_function} == 2) checked='checked' #end ><label class="ck_label" for="sub_function_2">私家团</label>
                    </span>
                </div>
            </div>
            #end

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                #parse("page/product/edit_prd/basic_info/common/related_b2b_products.vm")
                <tr id="js_service_promise_tr">
                    <td width="150" height="35" align="right">服务承诺：&nbsp;</td>
                    <td style="position:relative;">
                        ##通过js回写状态
                        <input type="checkbox" #if(${update} && ${product.promise_ironclad_group} == 1) checked='checked' #end name="promise_ironclad_group" id="type_0" class="ck_select" ><label for="type_0" class="ck_label" data-sp-type="tdct">铁定成团</label>
                        <input type="checkbox" #if(${update} && ${product.promise_no_self_pay} == 1) checked='checked' #end name="promise_no_self_pay" id="type_1" class="ck_select" ><label for="type_1" class="ck_label" data-sp-type="wzf">无自费</label>
                        <input type="checkbox" #if(${update} && ${product.promise_no_shopping} == 1) checked='checked' #end name="promise_no_shopping" id="type_2" class="ck_select" ><label for="type_2" class="ck_label" data-sp-type="wgw">无购物</label>
                        <input type="checkbox" #if(${update} && ${product.promise_truthful_description} == 1) checked='checked' #end name="promise_truthful_description" id="type_3" class="ck_select" ><label for="type_3" class="ck_label" data-sp-type="rsms">如实描述</label>
                        <input type="checkbox" #if(${update} && ${product.promise_refund_anytime_not_consume} == 1) checked='checked' #end name="promise_refund_anytime_not_consume" id="type_4" class="ck_select" /><label for="type_4" class="ck_label" data-sp-type="sst">未验证消费 随时退</label>
                        <a href="javascript:;" class="ck_label" id="js_glbf_btn">管理办法</a>
                        <a href="javascript:;" class="ck_label" id="js_pjxz_btn">评级细则</a>
                        <div class="q_ping_texttips" style="display:none;">铁定成团特色服务是指带有“评级”标识的旅游商品，甲方承诺该商品的信息真实有效，一旦网上预定并付款后，不管该团期参团人数多少，肯定会发团，保障消费者可以按时出游。</div>
                    </td>
                </tr>
                #if(${productTopicMap})
                <tr>
                    <td width="110" height="35" align="right">产品主题：&nbsp;</td>
                    <td>
                        #foreach($ele in $productTopicMap.entrySet())
                            <label class="ck_label">
                            <input type="checkbox" class="ck_select" needtips="134" data-jvalidator-pattern="specialCheck_less" count="3" name="product_topic" value="$!ele.key" #if($!ele.value) checked="checked" #end >$!ele.key
                            </label>
                        #end
                        <span node-type="tips" class="b_check_status red msg"><i></i><span class="tipscontent"></span></span>
                    </td>
                </tr>
                #end
                <tr>
                    <td height="35" align="right"><span class="red">*</span>产品名称：&nbsp;</td>
                    <td>
                        <input #if(${update} && ${b2bFlag} == 1) data-editable #end type="text" name="title" id="title" needtips="1" data-jvalidator-pattern="not_empty" class="text w383" maxlength="200" autotype="product&field=title;key:title;suggest" value="$!{title}">&nbsp;&nbsp;
                        <span node-type="tips" class="b_check_status red msg"><i></i> <span class="tipscontent"></span></span>
                    </td>
                </tr>       
                <tr>
                    <td height="35" align="right"><span class="red">*</span>产品特色：&nbsp;</td>
                    <td>
                        <input #if(${update} && ${b2bFlag} == 1) data-editable #end type="text" name="productFeatures" id="title_character" needtips="129" data-jvalidator-pattern="not_empty" class="text w383" maxlength="200" autotype="product&field=productFeatures;key:productFeatures;"
                        #if($!{productFeatures}) value="$!{productFeatures}" $else  value="" #end>&nbsp;&nbsp;
                        <span node-type="tips" class="b_check_status red msg"><i></i> <span class="tipscontent"></span></span>
                    </td>
                </tr>       
                <tr>
                  <td height="35" align="right"> #if(${isAgented}) <span class="red">*</span> #end 团号：&nbsp;</td>
                  <td>
                    <input type="text" name="team_no" id="team_no" class="text w227" maxlength="30" value="$!{teamNo}" #if(${isAgented}) data-jvalidator-pattern="not_empty" #end >
                    <span node-type="tips" class="b_check_status red msg"><i></i><span class="tipscontent"></span></span>
                  </td>
                </tr>
                #parse("page/product/edit_prd/basic_info/common/supplier_remark.vm")
                <tr>
                    <td height="35" align="right"><span class="red">*</span>行程天数：&nbsp;</td>
                    <td height="25">

                    #if(${ext_function} != 1)
                        <input type="text" name="day" needTips="3" id="day" class="text w90" data-jvalidator-pattern="isGivenNum & not_empty" value="#if(${update})$!{product.day}#end" />天
                        <span node-type="tips" class="b_check_status red msg"><i></i><span class="tipscontent"></span></span>
                    #end

                    #if(${ext_function} == 1)
                        <input type="text" name="day" needTips="333" id="day" class="text w90" data-jvalidator-pattern="not_empty & isExtFunction" value="#if(${update})$!{product.day}#end" />天
                        <span node-type="tips" class="b_check_status red msg"><i></i><span class="tipscontent"></span></span>

                        <span class="red">&nbsp;&nbsp;注：半自助游的产品行程天数必须大于等于2天</span>
                    #end
                    </td>
                </tr>
                <tr>
                    <td height="35" align="right"><span class="red">*</span>入住晚数：&nbsp;</td>
                    <td height="25">
                        <input type="text" name="night" needTips="17" id="night" class="text w90" data-jvalidator-pattern="isGivenNum_night & not_empty"
                           value="#if(${update})$!{product.night}#end" />晚
                        <span node-type="tips" class="b_check_status red msg"><i></i><span class="tipscontent"></span></span>
                    </td>
                </tr>            
                <tr tripNewField="true" node-type='preOrderSetting'>
                    <td height="35" align="right"><span class="red">*</span>提前预订设置：</td>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="25" width="360">
                                    请在前 <input name="advance_day" class="text w56" needTips="4" data-jvalidator-pattern="advance_day & not_empty" type="text" value="#if(${update} && ${product.advance_day} >= 0)$!{product.advance_day}#end">
                                    <select name="advance_day_type">
                                        <option value="realday" #if(${isNaturalDay}) selected #end>自然日</option>
                                        <option value="workday" #if(${isWorkDay}) selected #end>工作日</option>
                                    </select>
                                    天的
                                    <select name="advance_hour">
                                        #foreach($hour in $timeHourList)
                                        <option value="$hour" #if(${update} && ${product.advanceHourAndMintue} && ${product.advanceHourAndMintue.get(0)} == $hour) selected #end #if(!${update} && $hour == "23") selected #end >
                                            $!{hour}
                                        </option>
                                        #end
                                    </select>
                                    点
                                    <select name="advance_minute">
                                        #foreach($min in $timeMinuteList)
                                        <option value="$min" #if(${update} && ${product.advanceHourAndMintue} && ${product.advanceHourAndMintue.get(1)} == $min) selected #end #if(!${update} && $min == "59") selected #end >
                                            $!{min}
                                        </option>
                                        #end
                                    </select>
                                    分前预订
                                </td>
                                <td style="max-width: 175px;">
                                    <span node-type="tips" class="b_check_status red msg"><i></i><span class="tipscontent"></span></span>
                                </td>
                                <td style="color:#999">
                                    由预定时间不正确导致用户无法正常出行，客人损失由商家承担！请认真填写！
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr tripNewField="true" node-type="preOrderSetting">
                    <td height="35" align="right"><span class="red">*</span>提前预订描述 ：</td>
                    <td height="25" width="500">
                        <input type="text" name="advanceDesc" needtips="38" maxlength="400" data-jvalidator-pattern="not_empty" disabled
                            class="text w383" value="#if(${update} && ${product.advance_desc}) $!{product.advance_desc} #else 请在当天的23点59分前预订 #end">
                        <span node-type="tips" class="b_check_status red msg"><i></i><span class="tipscontent"></span></span>
                    </td>
                </tr>
                <tr>
                    <td width="110" height="35" align="right"><span class="red">*</span>参团方式：</td>
                    <td>
                        <div class="item_row">
                            <input id="group_0" type="radio" name="group_method" data-jvalidator-pattern="specialCheck" count="1" needtips="55" class="ck_select" value="0" #if((${update} && ${product.detail.group_method} == 0) || !${update})checked="checked" #end >
                            <label for="group_0" class="ck_label">出发地参团</label>
                            <input id="group_1" type="radio" name="group_method"  data-jvalidator-pattern="specialCheck" count="1" needtips="55" class="ck_select" value="1" #if(${update} && ${product.detail.group_method} == 1)checked="checked" #end >
                            <label for="group_1" class="ck_label">目的地参团</label>
                            <span node-type="tips" class="b_check_status red msg"><i></i><span class="tipscontent"></span></span>
                        </div>
                    </td>
                </tr>            
                <tr>
                    <td height="35" align="right" ><span class="red">*</span>出发地：&nbsp;</td>
                    <td id="freeDepartureContainer">
                        <input type="text" name="departure" needtips="5" id="departure" class="text w108" data-jvalidator-pattern="not_empty & is_place" maxlength="18" value="#if(${update})$!{product.departure}#end">
                        <span node-type="tips" class="b_check_status red msg"><i></i><span class="tipscontent"></span></span>
                    </td>
                </tr>
                <tr>
                    <td height="35" align="right" ><span class="red">*</span>目的地：&nbsp;</td>
                    <td>
                        <input type="text" id="arrive" class="text w108 ver_mid" dataDom="#hideArrive_1" data-jvalidator-pattern="isSpecialEmpty" needtips="6" maxlength="18" >
                        <img src="https://source.qunarzz.com/site/images/travel/tts/add.png" alt="添加" class="add_citys addpic_button ml10 j_func"  style="cursor:pointer;"/>
                        <span node-type="tips" class="b_check_status red msg"><i></i><span class="tipscontent"></span></span>
                    </td>
                </tr>
                <tr>
                    <td align="right" width="110"></td>
                    <td id="addCitys_1" >
                    </td>
                </tr>            
                #if(${contractEnable})
                <tr>
                    <td width="110" height="35" align="right">启用电子合同：&nbsp;</td>
                    <td>
                        <div class="item_row">
                            <input id="contract_yes" type="radio" name="contract_enable" class="ck_select" #if(${productContractEnable}) checked #end value="true">
                            <label for="contract_yes" class="ck_label">启用</label>
                            <input id="contract_no" type="radio" name="contract_enable" class="ck_select" #if(!${productContractEnable}) checked #end value="false">
                            <label for="contract_no" class="ck_label">不启用</label>
                            <span class="b_check_status red msg">$!{contractAccountDesc}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="110" height="35" align="right">电子合同模版：&nbsp;</td>
                    <td>
                        <div class="select width_auto">
                            <select name="contract_template" id="contract_template" class="text w150 text_bg select_text" needtips="57" data-jvalidator-pattern="contract">
                            </select>
                            <span node-type="tips" class="b_check_status red msg ml160"><i></i><span class="tipscontent"></span></span> 
                            <span class="b_check_status red msg">启用电子合同时，旅客信息(或出行人姓名及证件信息)仅可勾选“需要”</span>
                        </div>
                    </td>
                </tr>
                #end
				#*
				类别去掉,PMO62
                <tr>
                    <td width="110" height="35" align="right">类别：&nbsp;</td>
                    <td>
                        <input type="radio" name="type" #if((${update} && ${product.type} == 0) || !${update}) checked #end id="domestic" class="ck_select" value="0">
                        <label for="domestic" class="ck_label">国内游</label>
                        <input type="radio" name="type" #if(${update} && ${product.type} == 1) checked #end  id="outbound" class="ck_select" value="1">
                        <label for="outbound" class="ck_label">出境游</label>
                        <input type="radio" name="type" #if(${update} && ${product.type} == 2) checked #end id="HKMT" class="ck_select" value="2">
                        <label for="HKMT" class="ck_label">港澳台</label>
                    </td>
                </tr>
				*#
				#*
				长短途去掉,PMO62
                <tr>
                    <td class="arrive_grid" width="110" height="35" align="right"><span class="red">*</span>长/短途：&nbsp;</td>
                    <td class="arrive_grid">
                        <div class="item_row">
                            <input id="distance_0" type="radio" name="distance_type" #if(${update} && ${product.distance_type} == 0) checked #end class="ck_select" needtips="15" count="1" data-jvalidator-pattern="specialCheck" value="0">
                            <label for="distance_0" class="ck_label">长途</label>
                            <input id="distance_1" type="radio" name="distance_type" #if(${update} && ${product.distance_type} == 1) checked #end class="ck_select" needtips="15" count="1" data-jvalidator-pattern="specialCheck" value="1">
                            <label for="distance_1" class="ck_label">短途</label>
                            <span node-type="tips" class="b_check_status red msg"><i></i><span class="tipscontent"></span></span>
                        </div>
                    </td>
                </tr>
				*#
                <tr>
                    <td height="35" align="right"><span class="red">*</span>大交通：&nbsp;</td>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="121">
                                    <div class="select">
                                        <select  name="totraffic" id="totraffic" needtips="7" data-jvalidator-pattern="selected" class="text w106 text_bg select_text" >
                                            <option #if(${update} && ${product.totraffic} == '选择去程交通') selected #end value="选择去程交通">选择去程交通</option>
                                            <option #if(${update} && ${product.totraffic} == '自理去') selected #end value="自理去">自理去</option>
                                            <option #if(${update} && ${product.totraffic} == '飞机去') selected #end value="飞机去">飞机去</option>
                                            <option #if(${update} && ${product.totraffic} == '火车去') selected #end value="火车去">火车去</option>
                                            <option #if(${update} && ${product.totraffic} == '汽车去') selected #end value="汽车去">汽车去</option>
                                            <option #if(${update} && ${product.totraffic} == '邮轮去') selected #end value="邮轮去">邮轮去</option>
##                                            <option #if(${update} && ${product.totraffic} == '高铁去') selected #end value="高铁去">高铁去</option>
                                        </select>
                                    </div>
                                </td>
                                <td width="121">
                                    <div class="select">
                                        <select name="backtraffic" id="backtraffic" needtips="7" data-jvalidator-pattern="selected" class="text w106 text_bg select_text" >
                                            <option #if(${update} && ${product.backtraffic} == '选择回程交通') selected #end value="选择回程交通">选择回程交通</option>
                                            <option #if(${update} && ${product.backtraffic} == '自理回') selected #end value="自理回">自理回</option>
                                            <option #if(${update} && ${product.backtraffic} == '飞机回') selected #end value="飞机回">飞机回</option>
                                            <option #if(${update} && ${product.backtraffic} == '火车回') selected #end value="火车回">火车回</option>
                                            <option #if(${update} && ${product.backtraffic} == '汽车回') selected #end value="汽车回">汽车回</option>
                                            <option #if(${update} && ${product.backtraffic} == '邮轮回') selected #end value="邮轮回">邮轮回</option>
##                                            <option #if(${update} && ${product.backtraffic} == '高铁回') selected #end value="高铁回">高铁回</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <span node-type="tips" class="b_check_status red msg"><i></i><span class="tipscontent"></span></span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr tripNewField="true" style="display:none;">
                    <td height="35" align="right">旅客信息：&nbsp;</td>
                    <td>
                        <span>
                            <input id="passenger_0" name="need_traveller_info" class="ck_select" type="radio" value="1" #if((${product.need_traveller_info} && ${update}) || !${update} || (${contractEnable} && ${productContractEnable})) checked #end>
                            <label for="passenger_0" class="ck_label">需要</label>
                        </span>
                        <span>
                            <input id="passenger_1" name="need_traveller_info" class="ck_select" type="radio" value="0" #if(!${product.need_traveller_info} &&  ${update}) checked #end #if(${productContractEnable} && ${contractEnable}) disabled #end>
                            <label for="passenger_1" class="ck_label"  stype="#if(${productContractEnable}) color:#ccc #end">不需要</label>
                        </span>
                        <span node-type="tips" class="b_check_status red msg"><i></i><span class="tipscontent"></span></span>
                    </td>
                </tr>
                <tr tripNewFieldShort="true" style="display:none;">
                    <td height="35" align="right">是否需要出行人姓名：&nbsp;</td>
                    <td>
                        <span>
                            <input id="passenger_2" name="need_passenger_name" class="ck_select" type="radio" value="1" #if((${product.need_passenger_name} && ${update}) || !${update} || (${contractEnable} && ${productContractEnable})) checked #end>
                            <label for="passenger_2" class="ck_label">需要</label>
                        </span>
                        <span>
                            <input id="passenger_3" name="need_passenger_name" class="ck_select" type="radio" value="0" #if((!${product.need_passenger_name} && ${update})) checked #end #if(${productContractEnable} && ${contractEnable}) disabled #end>
                            <label for="passenger_3" class="ck_label" stype="#if(${productContractEnable}) color:#ccc #end">不需要</label>
                        </span>
                        <span node-type="tips" class="b_check_status red msg"><i></i><span class="tipscontent"></span></span>
                    </td>
                </tr>
                <tr tripNewFieldShort="true" style="display:none;">
                    <td height="35" align="right">是否需要出行人证件信息：&nbsp;</td>
                    <td>
                        <span>
                            <input id="passenger_4" name="need_passenger_cardid" class="ck_select" type="radio" value="1" #if((${product.need_passenger_cardid} && ${update}) || !${update} || (${contractEnable} && ${productContractEnable})) checked #end #if(!${product.need_passenger_name} && ${update}) disabled #end>
                            <label for="passenger_4" class="ck_label" stype="#if(!${product.need_passenger_name}) color:#ccc #end">需要</label>
                        </span>
                        <span>
                            <input id="passenger_5" name="need_passenger_cardid" class="ck_select" type="radio" value="0" #if((!${product.need_passenger_cardid} && ${update})) checked #end #if(${productContractEnable} && ${contractEnable}) disabled #end>
                            <label for="passenger_5" class="ck_label" stype="#if(${productContractEnable} || !${product.need_passenger_name}) color:#ccc #end">不需要</label>
                        </span>
                        <span node-type="tips" class="b_check_status red msg"><i></i><span class="tipscontent"></span></span>
                    </td>
                </tr> 
                ## 下架日期
                #parse("page/product/edit_prd/basic_info/common/offline_datepicker.vm")
                ## 下架日期
                #if(${isForexSupplier})
                <tr>
                    <td height="35" align="right"><span class="red">*</span>价格币种：&nbsp;</td>
                    <td>
                        <select id="cur_code" name="cur_code" data-jvalidator-pattern="currency_select" needtips="28">
                        #if(!${update})
                            <option value="请选择">---请选择---</option>
                            <option value="CNY">CNY-人民币</option>
                            #foreach($item in $currencyTypeModelList)
                                <option value="$!{item.code}">$!{item.code}"-"$!{item.ch_name}</option>
                            #end
                        #else
                            #if(!${cur_id})
                                <option value="CNY">CNY-人民币</option>
                            #elseif(${cur_id} == 'CNY')
                                <option value="CNY">CNY-人民币</option>
                            #else
                                <option value="$!{currencyTypeModel.code}">$!{currencyTypeModel.code}-$!{currencyTypeModel.ch_name}</option>
                            #end
                        #end
                        </select>
                        <span node-type="tips" class="b_check_status red msg hide"><i class="q_bg dis"></i><span class="tipscontent"></span></span>
                    </td>
                </tr>
                #end
                <tr>
                    <td height="35" align="right"><span class="red">*</span>付款方式：&nbsp;</td>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <input type="radio" #if(${update} && ${product.pay_way} == 0) checked #end name="pay_way" id="pay_way_0" class="ck_select" value="0" data-jvalidator-pattern="specialCheck">
                                    <label for="pay_way_0" class="ck_label">即时支付</label>
                                    <input type="radio" #if(${update} && ${product.pay_way} == 1) checked #end name="pay_way" id="pay_way_1" class="ck_select" value="1" data-jvalidator-pattern="specialCheck">
                                    <label for="pay_way_1" class="ck_label">确认后支付</label>
                                    <!-- 预授权支付方式-->
                                    #if(${isUsePreAuthorPay} && ${isAgented})
                                        <input type="radio" #if(${update} && ${product.pay_way} == 4) checked #end name="pay_way" id="pay_way_2" class="ck_select" value="4" data-jvalidator-pattern="specialCheck">
                                        <label for="pay_way_2" class="ck_label">担保预付</label>
                                    #end
                                    <span node-type="tips" class="b_check_status red msg"><i></i><span class="tipscontent"></span></span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                #if(${supplier})
                <tr>
                    <td height="35" align="right">服务电话：&nbsp;</td>
                    <td>
                        <select id="phone" name="phoneinfo">
                            #foreach($ele in $supplier.supplierAllPhone)
                                <option value="$!{ele.telephoneId}" #if(${update} && ${ele.telephoneId} == ${product.telephone_id}) selected #end> $!{ele.displayName}, $!{ele.telephone} #if(${ele.extension} && ${ele.extension} != "")转$!{ele.extension}#end</option>
                            #end
                        </select>
                    </td>
                </tr>
                #end
                <tr>
                    <td height="35" align="right"><span class="red">*</span>产品图片：&nbsp;</td>
                    <td>
                        <div style="width: 500px;height: 82px;background: #F1F1F1; display: none;"></div>
                        <div class="file_up j_func j_editable">
                            <span id="upload-button"></span>
                        </div>
                        <div class="file_select j_func j_editable">
                            <a href="javascript:;" data-type="main" node-type="owner_image" max="10"></a>
                        </div>
                        <span node-type="tips"  id="pic-tips" class="b_check_status red msg"><i></i><span class="tipscontent">图片建议70K以下，图片尺寸为750*500像素，格式限jpg，数量限10张，可自由设置主图有且仅有1张。</span></span>
                    </td>
                </tr>
                <tr>
                    <td align="right"></td>
                    <td class="imgLists" valign="top"><div class="pic_list five"></div></td>
                </tr>
                #parse("page/product/edit_prd/basic_info/common/video_field.vm")                
				#if(${update} && "${detailRecommendation}" != "")
				##新产品录入去掉推荐理由,PMO62
                <tr>
                    <td height="35" align="right" valign="top" style="line-height:24px;"><span class="red">*</span>推荐理由：&nbsp;</td>
                    <td>
                        <div class="red" style="margin-bottom:5px;padding-top:5px">新版的详情页将不在展示“推荐理由”，所以“推荐理由”将停止录入，如果有推荐、特色相关的内容请在“产品特色”里录入</div>
                        <textarea data-jvalidator-pattern="not_empty" needtips="11" id="recommendation" name="recommendation"
                            autotype="product&field=recommendation" rows="2" class="recommond_reason">$!{detailRecommendation}</textarea>
                        <div node-type="tips" class="b_check_status red msg"><i></i><span class="tipscontent"></span></div>
                    </td>
                </tr>
				#end
            </table>
            <div class="tips_demo tips_demo_y">
                <strong>推荐选择“是</strong>，添加400电话水印后，系统将自动把“400服务热线电话”信息添加在图片上（添加400电话的图片包含自由行或跟团游里的：<strong>“线路特色、集合地信息、景区介绍、酒店介绍、参考行程等”</strong>通过文本编辑器上传的图片）；以后您无须在图片上PS其他信息，选择“是”即可轻松搞定 ；如果您不需要添加400水印，无需修改使用系统默认项即可，图片宽度小于285像素或高度小于170像素的图片不会添加水印。
                <a href="https://imgs.qunarzz.com/p/tts3/1504/90/51553e0e4e4096.png" target="_blank">查看400水印示例&gt;&gt;</a>
            </div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="35" align="right" valign="top" style="line-height:24px;">400电话水印：&nbsp;</td>
                    <td valign="middle" height="35">
                        <div class="item_row" style="position:relative; top:-7px;">
                            <input type="radio" data-jvalidator-pattern="specialCheck" value="1" class="ck_select" #if(${isImageAddPhone}) checked="checked" #end id="add_image400_1" name="add_image_400">
                            <label class="ck_label" for="add_image400_1">是</label>
                            <input type="radio" data-jvalidator-pattern="specialCheck" value="0" class="ck_select" #if(!${isImageAddPhone}) checked="checked" #end id="add_image400_0" name="add_image_400">
                            <label class="ck_label" for="add_image400_0">否</label>
                            设置水印字体大小：
                            <select name="image400FontSize" >## 13 16 20
                                <option value="13" #if(${update} && ${image400FontSize} == 13) selected #end>13像素</option>
                                <option value="16" #if(${update} && ${image400FontSize} == 16) selected #end>16像素</option>
                                <option value="20" #if(${update} && ${image400FontSize} == 20) selected #end>20像素</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="10">
                        <div style="background-color: #ddd; border-bottom: 1px solid #ffffff; height: 1px;margin: 10px 1px;overflow: hidden;border-bottom: 1px dashed #ffffff;height: 0;"></div>
                    </td>
                </tr>
				#*
				PMO62,基础信息页去掉了线路特色富文本框
                <tr>
                    <td height="35" align="right" valign="top" style="line-height:24px;"><span class="red">*</span>线路特色：&nbsp;</td>
                    <td>
                        <textarea id="feature-group" sdata-jvalidator-pattern="not_empty" needtips="12" name="feature" rows="10" style="width:670px">$!{detailFeature}</textarea>
                        <div node-type="tips" class="b_check_status red msg"><i></i><span class="tipscontent"></span></div>
                    </td>
                </tr>
				*#
                #*
				集合地移至参考行程,PMO62
				<tr>
                    <td height="35" align="right" valign="top" style="line-height:24px;"><span class="red">*</span>集合地信息：&nbsp;</td>
                    <td>
                        <textarea id="assembly-point" data-jvalidator-pattern="not_default_equal" needtips="54" name="assembly" isdefault="$!{isDefaultDetailAssembly}" defaultText="$!{detailAssembly}" rows="10" style="width:670px">$!{detailAssembly}</textarea>
                        <div node-type="tips" class="b_check_status red msg"><i></i><span class="tipscontent"></span></div>
                    </td>
                </tr>
				*#
                ## hidden
                <tr style="display:none">
                    <td height="35" align="right">上下架状态：&nbsp;</td>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="115">
                                    <input type="radio" #if(${update} && ${product.status} == 'on sale') checked="checked" #end name="status" id="status_onsale" class="ck_select" value="on sale">
                                    <label for="status_onsale" class="ck_label">上架</label>
                                </td>
                                <td>
                                    <input type="radio" name="status" #if(${update} && ${product.status} == 'offline') checked="checked" #end id="status_offline" class="ck_select" value="offline">
                                    <label for="status_offline" class="ck_label">下架</label>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="35" align="right">&nbsp;</td>                             
                    <td>&nbsp;</td>
                </tr>
            </table>
            <table class="opt_cnt_w">
                <tr>
                    <td align="center">
                        <a class="#if(${isSave}) save_btn #else save_btn_gray #end" hidefocus="true" href="javascript:void(0)"></a>
                        <a class="#if(${isSave}) save_next_btn #else save_next_btn_gray #end" hidefocus="true" href="javascript:void(0)"></a>
                        #if(${update})
                            <a class="next_btn btn_hide" hidefocus="true" href="$!{urlInfo.tripInfo}"></a>
                        #end
                        #if(${ret}) <a href="$!{ret}" class="back_btn" hidefocus="true"></a> #end

                        #if("$!{isBigBSupplier}" == "true" && ${update})
                        <div class="usual_btn_box">
                            <a href="javascript:void(0)" class="usual_btn" hidefocus="true" id="btn_add_fx">加入分销</a> 
                            <div class="tips">功能说明：此功能用于将商品信息同步到B2B分销系统，商家可选择同步商品点击“加入B2B分销”将商品信息同步到分销系统，分销系统将您的商品展示给同业商家，同业商家可采购您同步的商品为您带来额外的订单，订单处理需您到B2B分销系统中处理</div>
                        </div>
                        #end
                    </td>
                </tr>
            </table>
        </form>
        #if(${isFavorableAudit})
        #parse("page/product/edit_prd/basic_info/common/favorable_audit.vm")
        #end
    </div>
    #parse("page/product/edit_prd/basic_info/common/image_layer.vm")
    <script src="${qzzUrl}/jquery/prd/jquery-1.7.2.js"></script>
    ##<script src="${qzzUrl}${jsPath}/common/kindeditor/kindeditor.js"></script>
    <script src="${qzzUrl}${jsPath}/business/product/product_edit/base_info/entry.js"></script>
</body>
</html>